{% if pages %}
{% load cms_tags wagtailcore_tags %}

<h2 class="section-title">{{ page.title }}</h2>

<table class="striped">
    <tbody>
        {% for page in pages %}
        {% has_view_restrictions page as is_private %}
        {% if is_private %}
        {% if request.user.is_authenticated %}
        <tr>
            <td>
                <h3 class="subhead"><a href="{% pageurl page %}">{{ page.title }}</a> <small><i class="fa fa-eye-slash"></i> <em>Private</em></small></h3>
                <p class="byline blog">
                    Posted by {{ page.owner }}
                    <time datetime="{{ page.specific.date|date:'c' }}">on {{ page.specific.date }}</time>

                    {% are_comments_allowed as allow_comments %}
                    {% if allow_comments %}
                     | <span class="disqus-comment-count" data-disqus-identifier="{{ page.id }}">Comments</span>
                    {% endif %}
                </p>
                <p>{{ page.search_description }}</p></a>
            </td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
            <td>
                <h3 class="subhead"><a href="{% pageurl page %}">{{ page.title }}</a></h3>
                <p class="byline blog">
                    Posted by {{ page.owner }}
                    <time datetime="{{ page.specific.date|date:'c' }}">on {{ page.specific.date }}</time>

                    {% are_comments_allowed as allow_comments %}
                    {% if allow_comments %}
                     | <span class="disqus-comment-count" data-disqus-identifier="{{ page.id }}">Comments</span>
                    {% endif %}
                </p>
                <p>{{ page.search_description }}</p></a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block footer_scripts %}
{% include "cms/includes/disqus_setup.html" %}
<script id="dsq-count-scr" src="//lawm.disqus.com/count.js" async></script>
{% endblock %}
{% endif %}