{% if pages %}
{% load cms_tags wagtailcore_tags wagtailroutablepage_tags %}

<div class="section-title">{{ page.title }}</div>

{% block blogpost %}
{% include "cms/includes/blog_post_preview.html" %}
{% endblock %}
    {% include "cms/includes/pagination.html" with pages=posts %}
{% else %}
<p>There are no blog posts.</p>

{% endif %}

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block footer_scripts %}
{% include "cms/includes/disqus_setup.html" %}
<script id="dsq-count-scr" src="//lawm.disqus.com/count.js" async></script>
{% endblock %}
{% endif %}