{% load cms_tags staticfiles wagtailcore_tags %}

<div class="orbit" role="region" aria-label="Slide 1" data-orbit data-auto-play="false">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
        <!-- slide from wagtail -->

        <!-- latest news -->
      <li class="orbit-slide">
        <figure class="orbit-figure">
            <a href="{% pageurl carousel_news %}">
                <img class="orbit-image" src="{{ carousel_news.feed_image}}" alt="{{ carousel_news.feed_image.title}}">
            </a>
            <figcaption class="orbit-caption">{{ carousel_news.title}}</figcaption>
        </figure>
        <div class="orbit-slide-content">
            <h2>{{ carousel_news.title}}</h2>
            <p>{{ carousel_news.search_description|truncatewords:60 }}</p>

            <a href="{% pageurl carousel_news %}" class="button secondary expanded">Read more</a>
        </div>
      </li>
        <!-- upcoming event -->
      <li class="orbit-slide">
        <figure class="orbit-figure">
            <a href="{% pageurl carousel_event %}">
                <img class="orbit-image" src="{{ carousel_event.feed_image}}" alt="{{ carousel_event.feed_image.title}}">
            </a>
            <figcaption class="orbit-caption">{{ carousel_event.title}}</figcaption>
        </figure>
        <div class="orbit-slide-content">
            <h2>{% if carousel_event.is_past %}Recent event: {% endif %}{{ carousel_event.title}}</h2>
            <p>{{ carousel_event.search_description|truncatewords:60 }}</p>

            <a href="{% pageurl carousel_event %}" class="button secondary expanded">Read more</a>
        </div>
      </li>
      <li class="orbit-slide">
          <!-- last post -->
        <figure class="orbit-figure">
            <a href="{% pageurl carousel_post %}">
                <img class="orbit-image" src="{{ carousel_post.feed_image}}" alt="{{ carousel_post.feed_image.title}}">
            </a>
            <figcaption class="orbit-caption">{{ carousel_post.title}}</figcaption>
        </figure>
        <div class="orbit-slide-content">
            <h2>{{ carousel_post.title}}</h2>
            <p>{{ carousel_post.search_description|truncatewords:60 }}</p>

            <a href="{% pageurl carousel_post %}" class="button secondary expanded">Read more</a>
        </div>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span>
      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
    </button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>