{% if pages %}
{% load cms_tags wagtailcore_tags %}

<ul class="menu vertical subnav">
    {% with pages|get_section as index %}
    <li class="top-level">
        <a href="{% pageurl index %}"{% if page.url == self.url %}
             class="active"{% endif %}>
            {{ index.title }}
        </a>
    </li>
    {% for page in index.get_children.live.in_menu %}
    <li>
        <a href="{% pageurl page %}" class="ninety{% if page.url == self.url %} active{% endif %}">
            {{ page.title }}
        </a>
        <span class="toggler close added"></span>

        <ul class="vertical menu nested hide content">
            {% for sub in page.get_children.live.in_menu %} 
            <li>
                <a href="{% pageurl sub %}">
                    {{ sub.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}

    {% endwith %}
</ul>

{% endif %}