{% load cms_tags wagtailcore_tags %}

<div class="tags" data-equalizer-watch="tags-box">
    {% if obj.strands.all %}
    {% for strand in obj.strands.all %}
    <span class="label secondary"><a href="/tagged-pages/?tag={{ strand.title|urlencode }}" class="strand">{{ strand.title }}</a></span>
    {% endfor %}
    {% endif %}

    {% if obj.tags.all %}
    {% for tag in obj.tags.all %}
    <span class="label"><a href="/tagged-pages/?tag={{ tag.name|urlencode }}" aria-label="{{ tag.name }}">{{ tag.name }}</a></span>
    {% endfor %}
    {% endif %}
</div>