{% load twitterhut_tags %}

{% user_timeline screen_name as timeline %}
<div class="row twitter-list" data-equalizer="twitterheight" data-equalize-on="medium">
    {% for tweet in timeline %}
    <div class="small-12 medium-6 large-3 columns">
        <div class="tweet-block" data-equalizer-watch="twitterheight">
            {% if tweet.retweeted_status %}
            <p class="retweet"><a href="//twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a> retweeted</p>
            {% endif %}

            <div class="media-object">
                <div class="media-object-section">
                    {% if tweet.retweeted_status %}
                    <a href="//twitter.com/{{ tweet.retweeted_status.user.screen_name }}">
                        <img src="{{ tweet.retweeted_status.user.profile_image_url_https }}" alt="{{ tweet.retweeted_status.user.name }} profile image">
                    </a>
                    {% else %}
                    <a href="//twitter.com/{{ tweet.user.screen_name }}">
                        <img src="{{ tweet.user.profile_image_url_https }}" alt="{{ tweet.user.name }} profile image">
                    </a>
                    {% endif %}
                </div>
                <div class="media-object-section">
                    <h2 class="small-heading">
                        {% if tweet.retweeted_status %}
                        {{ tweet.retweeted_status.user.name }}
                        {% else %}
                        {{ tweet.user.name }}
                        {% endif %}
                    </h2>
                    {% if tweet.retweeted_status %}
                    <h3 class="small-heading">
                        <a href="//twitter.com/{{ tweet.retweeted_status.user.screen_name }}">
                            @{{ tweet.retweeted_status.user.name }}
                        </a>
                    </h3>
                    {% else %}
                    <h3 class="small-heading">
                        <a href="//twitter.com/{{ tweet.user.screen_name }}">
                            @{{ tweet.user.screen_name }}
                        </a>
                    </h3>
                    {% endif %}
                </div>
            </div>

            <p>{{ tweet|tweet_to_html }}</p>
            <p class="tweet-datetime clearfix">
                <a href="//twitter.com/intent/like?tweet_id={{ tweet.id_str }}" class="like">
                    <button aria-label="to like the post {{ tweet.id_str }}" class="buttonforicons"></button>
                </a>
                <a href="//twitter.com/{{ screen_name }}/status/{{ tweet.id_str }}" class="float-right" aria-label="link to {{ tweet.id_str }}">
                    {{ tweet.created_at|tweet_date:'d M Y' }}
                </a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>