{% load wagtailcore_tags %}

{# Show on small screens #}
<ul class="dropdown menu vertical show-for-small-only" data-dropdown-menu>
    <li{% if root.active %} class="active"{% endif %}>
        <a href="{% pageurl root %}">{{ root.title }}</a>
    </li>
    {% for page in menu_pages %}
    <li{% if page.active %} class="active"{% endif %}>
        <a href="{% pageurl page %}">{{ page.title }}</a>
    </li>
    {% endfor %}
</ul>

<form action="/search/" class="show-for-small-only search-box" method="get">
    <div class="row collapse">
        <div class="small-10 columns">
            <input type="search" name="q" placeholder="Search" aria-label="search box" value="{{request.GET.q}}">
        </div>
        <div class="small-2 columns">
            <button type="submit" class="button search-button expanded"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</form>

{# Show on medium-up screens #}
<ul class="dropdown menu show-for-medium" data-dropdown-menu>
    <li{% if root.active %} class="active" {% endif %}>
        <a href="{% pageurl root %}">{{ root.title }}</a>
    </li>
    {% for page in menu_pages %}
    <li{% if page.active %} class="active" {% endif %}>
        <a href="{% pageurl page %}">{{ page.title }}</a>
    </li>
    {% endfor %}
</ul>