-r ddhldap/requirements.txt
-r twitterhut/requirements.txt
django==1.10
django-activecollab-digger
django-compressor
django-extensions
django-libsass
django-model-utils
django-modelcluster
django-redis
elasticsearch>=2.0.0,<5.0.0
libsass==0.13.2
psycopg2
redis
wagtail<2.0
