-r twitterhut/requirements.txt
django
django-activecollab-digger
django-compressor
django-extensions
django-haystack
django-libsass
django-model-utils
django-modelcluster<5.0
django-redis
elasticsearch>=2.0.0,<3.0.0
libsass==0.13.2
django-kdl-ldap
psycopg2-binary
redis
wagtail>=2.7,<2.8
django-taggit==1.2.0
mypy
factory-boy==2.12.0
coverage
django_coverage_plugin