@import 'settings';
@import 'font-awesome';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';

@include foundation-everything;

/** Your custom scss here **/


/** Globals **/

body {
    background: rgba($dark-blue, .05);
    // -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.more {
    i {
        font-size: rem-calc(12);
        padding-left: rem-calc(3);
    }
}

button i,
.button i {
    font-size: rem-calc(12);
}

small,
h1 small,
h2 small,
h3 small {
    color: $dark-gray;
}

.active {
    font-weight: 700;
}

.border-bottom {
    border-bottom: 1px dotted $secondary-color;
}

/** Header **/
header.top-header {
    // Pattern background
    background: url('/static/images/lawm-pattern.svg') $dark-blue;
    background-size: rem-calc(45);
    max-height: rem-calc(150);

    // No design option
    // background: $dark-blue;
    // min-height: rem-calc(150);

    // h1 {
    //     a {
    //         color: $secondary-color;
    //         font-weight: 700;
    //         font-size: rem-calc(36);
    //     }
    // }

    // Fixes the issue FF has with Proxima Nova baseline
    button,
    .button {
        height: rem-calc(36);
    }
}

.header {
    svg {
        background: $dark-blue;
        display: block; // It helps aligning properly to pixel values
        fill: $bright-blue;
        max-height: rem-calc(160);
        max-width: rem-calc(300);
    }
}

/** Navigation **/

nav {
    margin-bottom: rem-calc(24)
}

.top-bar::before {
    display: block;
}

/** Main content **/

section.main {

    a {
        border-bottom: 1px solid transparent;
        color: $secondary-color;
        display: inline-block;
        font-weight: 700;

        &:hover {
            border-bottom: 1px dotted $secondary-color;
        }

        &.more {
            color: $dark-brown;
            font-weight: normal;
        }
    }

    h1,
    h2,
    h3 {
        font-weight: 700;
    }

    h1 {
        color: $bright-blue;
    }
}

/** Footer **/

footer {
    background: $white;
    margin-top: rem-calc(24);
    padding: rem-calc(24 0);

    .kcl-kdl-logo {
        margin-top: rem-calc(16);
        max-width: rem-calc(100);

        @include breakpoint(medium up) {

            float: right;
            margin-top: 0;

            img {
                float: right !important;
            }
        }
    }

    svg {
        background: $secondary-color;
        display: block; // It helps aligning properly to pixel values
        fill: $dark-blue;
        max-width: rem-calc(200);
    }

    .logos-group {
        text-align: center;

        img {
            max-height: rem-calc(80);
        }

        .column {
            text-align: center;
            padding: rem-calc(16);
        }
    }

    .credits {
        color: scale-color($dark-gray, $lightness: -30%);
        font-size: rem-calc(12);
        font-style: italic;
        padding-top: rem-calc(6);

        a {
            font-weight: 700;
            color: scale-color($dark-gray, $lightness: -30%);
            &:hover {
                color: $secondary-color;
            }
        }
    }

    p {
        margin-bottom: 0;
    }
}

// Cookies

.cookies-box {
    background: $light-blue;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 0;
}

/** Media queries **/

@include breakpoint(medium up) {
}
