@import 'settings';
@import 'font-awesome';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';

@include foundation-everything;

/** Your custom scss here **/


/** Globals **/

body {
	background: rgba($dark-blue, .05);
}

.active {
	font-weight: 700;
}

/** Header **/
header {
	background: url('/static/images/lawm-pattern.svg') $dark-blue;
	background-size: rem-calc(45);
	max-height: rem-calc(150);
}

.header {
	svg {
		background: $dark-blue;
		bottom: -0.5rem;
		display: block;
		fill: $bright-blue;
		max-height: rem-calc(160);
		max-width: rem-calc(300);
	}
}

/** Navigation **/

// nav {
// 	background: $white;
// }

/** Main content **/

/** Footer **/

footer {
	background: $white;
	padding: rem-calc(24 0);

	.kcl-kdl-logo {
		max-width: rem-calc(100);
		float: right;
	}

	svg {
		background: $secondary-color;
		bottom: -0.5rem;
		display: block;
		fill: $dark-blue;
		max-width: rem-calc(200);
	}
}
