@import 'settings';
@import 'font-awesome';
@import '../vendor/foundation-sites/scss/foundation';
@import '../vendor/motion-ui/motion-ui';

@include foundation-everything;

/** Your custom scss here **/


/** Globals **/

body {
    background: rgba($dark-blue, .05);
    // -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.more {
    i {
        font-size: rem-calc(12);
        padding-left: rem-calc(3);
    }
}

button i,
.button i {
    font-size: rem-calc(12);
}

h1 small,
h2 small,
h3 small,
small {
    color: $dark-gray;
}

.active {
    font-weight: 700;
}

.border-bottom {
    border-bottom: 1px dotted $secondary-color;
}

/** Header **/
header.top-header {
    // Pattern background
    background: url('/static/images/lawm-pattern.svg') $dark-blue;
    background-size: rem-calc(45);
    max-height: rem-calc(150);

    // No design option
    // background: $dark-blue;
    // min-height: rem-calc(150);

    // h1 {
    //     a {
    //         color: $secondary-color;
    //         font-weight: 700;
    //         font-size: rem-calc(36);
    //     }
    // }

    // Fixes the issue FF has with Proxima Nova baseline
    button,
    .button {
        height: rem-calc(36);
    }
}

.header {
    svg {
        background: $dark-blue;
        display: block; // It helps aligning properly to pixel values
        max-height: rem-calc(160);
        max-width: rem-calc(300);

        .st0{
            fill: #fff;
        }
        
        .st1{
            fill: #009ee2;
        }
    }
}

/** Navigation **/

nav {
    margin-bottom: rem-calc(24)
}

.top-bar {

    &::before {
        display: block;
    }

    li a {
        padding: rem-calc(28 16 20);

        &:hover {
            background: scale-color($primary-color, $lightness: 70%);
        }
    }
}

.top-bar-title {
    margin: rem-calc(8 0);
    padding: 0;
}

/** Main content **/

section.main {

    a {
        border-bottom: 1px solid transparent;
        color: $secondary-color;
        display: inline-block;
        font-weight: 700;

        &:hover {
            border-bottom: 1px dotted $secondary-color;
        }

        &.more {
            color: $dark-brown;
            font-weight: normal;
        }
    }

    h1,
    h2,
    h3 {
        font-weight: 700;
    }

    h1 {
        color: $bright-blue;
    }
}

.blob {
    // left: 50%;
    position: absolute;
    // top: rem-calc(-60);
    top: rem-calc(-50);

    i {
        left: -40%;
    }

    .fa-circle:before {
        color: $white;
    }
}

.blocks {
    background: rgba($blue-gray, .1);
    margin: rem-calc(50 0 0);
    padding: rem-calc(40 16 16);
    position: relative;
}

span.fa-stack-1x {
    &.number {
        left: -40%;
    }
}

/** Search **/

// Search box

.search-box {
    margin-top: rem-calc(16);

    input {
        border: none;
        -moz-box-shadow: inset rem-calc(0 0 2) $primary-color;
        -webkit-box-shadow: inset rem-calc(0 0 2) $primary-color;
        box-shadow: inset rem-calc(0 0 2) $primary-color; 
        height: rem-calc(44);
        max-width: 100% !important;
        width: 100% !important;
    }

    .search-button {
        height: rem-calc(44);
    }
}

/** Footer **/

footer {
    background: $white;
    margin-top: rem-calc(24);
    padding: rem-calc(24 0);

    .kcl-kdl-logo {
        margin-top: rem-calc(16);
        max-width: rem-calc(100);

        @include breakpoint(medium up) {

            float: right;
            margin-top: 0;

            img {
                float: right !important;
            }
        }
    }

    svg {
        background: $secondary-color;
        display: block; // It helps aligning properly to pixel values
        fill: $dark-blue;
        max-width: rem-calc(200);
    }

    .logos-group {
        text-align: center;

        img {
            max-height: rem-calc(80);
        }

        .column {
            text-align: center;
            padding: rem-calc(16);
        }
    }

    .credits {
        color: scale-color($dark-gray, $lightness: -30%);
        font-size: rem-calc(12);
        font-style: italic;
        padding-top: rem-calc(6);

        a {
            font-weight: 700;
            color: scale-color($dark-gray, $lightness: -30%);
            &:hover {
                color: $secondary-color;
            }
        }
    }

    p {
        margin-bottom: 0;
    }
}

// Cookies

.cookies-box {
    background: $blue-gray;
    bottom: 0;
    color: $white;
    margin: 0;
    opacity: 0.95;
    position: fixed;
    text-align: center;
    width: 100%;

    button,
    .button {
        font-weight: 700;
    }

    p {
        margin-bottom: rem-calc(16);
    }
}

// SVG logo animation

/**

Animating the logo's diactrics

#diactric1,
#diactric2,
#diactric3a,
#diactric3b,
#diactric4,
#diactric5,
#diactric6,
#diactric7,
#diactric8

**/

#diactric1,
#diactric2,
#diactric3a,
#diactric3b,
#diactric4,
#diactric5,
#diactric6,
#diactric7,
#diactric8 {
    fill: rgba($bright-blue, 0);
}

@keyframes hideshow {
    from { fill: rgba($bright-blue, 0); }
    to { fill: rgba($bright-blue, 1); }
}

@keyframes popup {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

#diactric1,
#diactric8  {
    animation: hideshow 3s ease-in-out;
}

#diactric3a,
#diactric3b {
    animation: hideshow 2s 1s ease-in-out;
}

#diactric2 {
    animation: hideshow 4s 2s ease-in-out;
}

#diactric4 {
    animation: hideshow 2s 0.5s ease-in-out;
}

#diactric5 {
    animation: hideshow 3s 4s ease;
}

#diactric6 {
    animation: hideshow 3s 3s ease-in-out;
}

#diactric7 {
    animation: hideshow 2s 1.5s ease-in-out;
}



#diactric1,
#diactric2,
#diactric3a,
#diactric3b,
#diactric4,
#diactric5,
#diactric6,
#diactric7,
#diactric8 {
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 2;
}

/** Media queries **/

@include breakpoint(medium up) {
}
