{% load staticfiles %}

<div class="row small-12 medium-up-3 large-up-6 bottom-margin logos-group">
  <div class="column">
    <a href="//www.open.ac.uk/"><img src="{% static 'images/logos/OU_Master_Logo_Dark_Blue_RGB.svg' %}" alt="Open University"></a>
  </div>
  <div class="column">
    <a href="//www.westminster.ac.uk/"><img src="{% static 'images/logos/University-of-Westminster.png' %}" alt="University of Westminster"></a>
  </div>
  <div class="column">
    <a href="//www.ahrc.ac.uk/"><img src="{% static 'images/logos/ahrc-logo.png' %}" alt="Arts and Humanities Research Council"></a>
  </div>
  <div class="column">
    <a href="//www.ahrc.ac.uk/newsevents/news/open-world-research-initiative-launched/"><img src="{% static 'images/logos/OWRIMainlong.png' %}" alt="Open World: Research Initiative"></a>
  </div>
  <div class="column">
    <a href="//www.qmul.ac.uk/"><img src="{% static 'images/logos/queen-mary-logo.png' %}" alt="Queen Mary University"></a>
  </div>
  <div class="column">
    <a href="//www.kcl.ac.uk/"><img src="{% static 'images/logos/kings-logo-red.svg' %}" alt="King's College London"></a>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-12 large-4 columns">
    <p class="credits">Designed &amp; developed by <a href="//kdl.kcl.ac.uk">King's Digital Lab</a></p>
  </div>
  <div class="small-12 large-4 columns">
    <p class="text-center"><a href="/privacy-cookie-policy/" class="small button hollow">Privacy &amp; Cookie policy</a></p>
  </div>
  <div class="small-12 large-4 columns">
    <p class="text-right">&copy; {% now 'Y' %} Language Acts and Worldmaking</p>
  </div>
</div>
