{% load cms_tags %}

<div class="row">
  <div class="large-12 columns">
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button> Menu
        </span>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">

          {% block main_menu %}
          {% get_site_root as site_root %}
          {% main_menu root=site_root current_page=self %}
          {% endblock %}

        </div>
        <div class="top-bar-right">
        </div>
      </div>
    </div>
  </div>
</div>