{% load staticfiles cms_tags compress %}
<!doctype html>
<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Language Acts">
  <meta property="og:image" content="{{ self.get_site.root_url }}{% static 'images/logos/lawm-logo.png' %}">
  <title>{% block meta_title %}{% endblock %} | {{ PROJECT_TITLE }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- favicons -->
  {% include 'includes/favicon.html' %}

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}

  {% block header_scripts %}
  {% endblock %}
</head>
<body{% block bodyclass %}{% endblock %}>
  <div role="complementary" class="skip-main"><a href="#maincontent">Skip to main content</a></div> 
  <header class="top-header">
    {% include 'includes/header.html' %}
  </header>

  <nav>
    {% include 'includes/navigation.html' %}
  </nav>
  <div id="maincontent" tabindex="0"></div>

  <div class="row">
    <div class="small-12 large-12 columns">
      <section>
        {% block title %}
        <header class="section-header">
          <h1>{{ self.title }}</h1>
        </header>
        {% endblock %}
        {% block main %}
        {% endblock %}
      </section>
    </div>
  </div>

  <footer>
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
    <div class="callout cookies-box hide" id="cookie-disclaimer" data-closable>
      <p>We use cookies to track usage and preferences.</p>
      <p><a href="/privacy-cookie-policy/" class="button secondary">Privacy &amp; Cookie Policy</a> <button class="button success closeme" aria-label="Dismiss alert" type="button" data-close>I understand</button></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </footer>

  {% compress js %}
  <script src="{% static "vendor/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "vendor/what-input/dist/what-input.min.js" %}"></script>
  <script src="{% static "vendor/foundation-sites/dist/js/foundation.min.js" %}"></script>
  <script src="{% static "vendor/motion-ui/dist/motion-ui.js" %}"></script>
  <script src="{% static "vendor/d3/d3.min.js" %}"></script>
  <script src="{% static "vendor/instafeed.js/instafeed.min.js" %}"></script>
  <script src="{% static "vendor/js-cookie/src/js.cookie.js" %}"></script>

  <script src="{% static "js/main.js" %}"></script>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GA_ID }}', 'auto');
  ga('send', 'pageview');
  </script>
  {% endcompress %}


  {% block footer_scripts %}
  {% endblock %}
</body>
</html>
