{% extends "cms/base.html" %}

{% block title %}
{% endblock %}

{% block main %}
{{ block.super }}
<div class="row small-up-1 medium-up-2 large-up-3" data-equalizer>
    <div class="column column-block">
        <div class="blocks" data-equalizer-watch>
            <div class="blob text-center">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x number">01</span>
                </span>
            </div>
            <h2 class="text-center">Travelling Concepts</h2>
            <p>The Iberian Peninsula is both the originator and product of a polycentric process of global colonization; its history constitutes a workshop for questioning how language constructs the world.  In a journey that takes us from Brazil to China, and through multiple languages, we investigate the ideological work performed by the vocabularies that historically cluster around Iberia, whether embedded in individual words, phrases or extended literary forms (narrative, lyric, history). Concepts such as ‘global’, ‘culture’, ‘civilisation’, ‘tolerance’, ‘Europe’ and the binary East/ West are central to the way Iberian history has been imagined both inside and outside the Peninsula, from the Middle Ages to the present day.</p>
        </div>
        <a href="" class="button expanded">Explore</a>
    </div>
    <div class="column column-block">
        <div class="blocks" data-equalizer-watch>
            <div class="blob text-center">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x number">02</span>
                </span>
            </div>
            <h2 class="text-center">Translation Acts</h2>
            <p>In Translation Acts, the focus is on the creation of dramatic narratives through theatre in translation and performance. We take up travelling concepts like ’global’ and ‘tolerance’ and explore our lived experience of them. Using the creative capacity of theatre to be world-inventing, creating known and imagined worlds on stage, we question how ideas and beliefs cross cultures, time and space and how we act through the languages we use and create. In our practice we will use participants’ innate and learned language knowledge to translate and recreate theatre texts in ways that will radically intervene in our understanding of cultural co-existence in the present.</p>
        </div>
        <a href="" class="button expanded">Explore</a>
    </div>
    <div class="column column-block">
        <div class="blocks" data-equalizer-watch>
            <div class="blob text-center">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x number">03</span>
                </span>
            </div>
            <h2 class="text-center">Digital Mediations</h2>
            <p>‘Digital Mediations’ explores interactions and tensions between digital culture and Modern Languages research. We examine how digitally mediated culture - whether emerging as born digital artefacts or digitised remediations of pre-digital objects - is constructed, and ask what kinds of 'translation' are enacted as information enters and leaves the digital sphere. We research the interactions from multiple perspectives, reviewing methodologies for studying digital content from a multilingual perspective, while appraising the extent to which digital data, as a complex cultural product in its own right, represents a meaningful record accessible to Modern Languages research and learning.</p>
        </div>
        <a href="" class="button expanded">Explore</a>
    </div>
    <div class="column column-block">
        <div class="blocks" data-equalizer-watch>
            <div class="blob text-center">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x number">04</span>
                </span>
            </div>
            <h2 class="text-center">Loaded Meanings</h2>
            <p>‘Loaded meanings’ invites reflection on the nature of language and its historical development by investigating the linguistic consequences of the single most important cultural contact observable in the history of the languages of western Europe, namely, the dissemination of ‘learned’ borrowings (words borrowed directly from or coined on the basis of Latin or Greek) in Ibero-Romance.  Originally introduced in the written language of the culturally élite, a large number of these words have become part of frequent everyday usage and so lie at the heart of ordinary speakers’ ‘worldmaking’.</p>
        </div>
        <a href="" class="button expanded">Explore</a>
    </div>
    <div class="column column-block">
        <div class="blocks" data-equalizer-watch>
            <div class="blob text-center">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x number">05</span>
                </span>
            </div>
            <h2 class="text-center">Diasporic Identities</h2>
            <p>This strand takes an applied approach by working with language teachers, active worldmakers who move seamlessly between different linguistic and cultural worlds.  Their inner selves, their personal and professional identities, are moulded and enriched by their experiences of diaspora. Highly skilled at worldmaking, teachers draw on their own rich linguistic and cultural resources for translating and re-making cultural concepts.  Through this research, we seek to understand how teachers see themselves in their role as mediators between languages and cultures and how they perform this role in their teaching  practice. This research also entails a critical appraisal of the institutional and political issues around the provision of modern language teaching in the UK from the perspective of the teachers.</p>
        </div>
        <a href="" class="button expanded">Explore</a>
    </div>
    <div class="column column-block">
        <div class="blocks" data-equalizer-watch>
            <div class="blob text-center">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x number">06</span>
                </span>
            </div>
            <h2 class="text-center">Language Transitions</h2>
            <p>This work takes a research-informed approach to the practical aspects of learning and teaching modern foreign languages and cultures. It targets transitions—those border zones of learning between stages that have become more of a hindrance than a stepping stone for so many language learners — by working on the curriculum at university level, by working with the curriculum at school level, and by trialling transition and foundation courses that allow entry at each further level languages study. It also seeks to empower young students to use their innate language-learning skills, including the mobilisation of their bi- and multi-lingual home experiences.</p>
        </div>
        <a href="" class="button expanded">Explore</a>
    </div>
</div>
{% endblock %}