{% extends "cms/base.html" %}
{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}


{% block title %}
<header class="section-header">
  <h1>
    {{ self.title }}
    {% has_view_restrictions page as is_private %}
    {% if is_private %}
     <small><i class="fa fa-eye-slash"></i> <em>Private</em></small>
    {% endif %}
  </h1>
</header>
{% endblock %}

{% block main %}

<article class="post" id="post{{ self.id }}">
    <header>
        <p class="byline newspost">
            <time datetime="{{ self.date }}">{{ self.date|date:'j b Y' }}</time>
            {% are_comments_allowed as allow_comments %}
            {% if allow_comments %}
            {% block blog_post_comments_link %}
             | <span class="disqus-comment-count" data-disqus-identifier="{{ self.id }}">Comments</span>
            {% endblock %}
            {% endif %}
        </p>
        {% include "cms/includes/tags.html" with obj=page %}
    </header>

    {% if self.feed_image %}
    <div class="row featured-image">
        <div class="large-12 columns">
            {% image self.feed_image fill-1200x200 as feat_image %}
            <img src="{{ feat_image.url }}" alt="{{ feat_image.alt }}" class="float-center">
            {% endif %}
        </div>
    </div>

    {{ block.super }}
</article>

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block comments %}
<div id="disqus_thread"></div>
{% endblock %}
{% endif %}

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block footer_scripts %}
{% include "cms/includes/disqus_setup.html" %}
<script id="dsq-count-scr" src="//lawm.disqus.com/count.js" async></script>
{% endblock %}
{% endif %}
{% endblock %}
