{% extends "cms/base.html" %}
{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}


{% block title %}
<header class="section-header">
  <h1>
    {{ self.title }}
    {% has_view_restrictions page as is_private %}
    {% if is_private %}
     <small><i class="fa fa-eye-slash"></i> <em>Private</em></small>
    {% endif %}
  </h1>
</header>
{% endblock %}

{% block main %}

<article class="post" id="post{{ self.id }}">
    <header>
        <p class="byline newspost">
            <time datetime="{{ self.date }}">{{ self.date|date:'jS F Y' }}</time>
            {% are_comments_allowed as allow_comments %}
            {% if allow_comments %}
            {% block blog_post_comments_link %}
             | <span class="disqus-comment-count" data-disqus-identifier="{{ self.id }}">Comments</span>
            {% endblock %}
            {% endif %}
        </p>
    </header>

    {# TODO: Add feed image, if any - Needs fixing #}
    {% if self.specific.feed_image %}
    <img src="{{ self.specific.feed_image.url }}" alt="{{ self.specific.feed_image.alt }}">
    {% endif %}

    {{ block.super }}
</article>

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block comments %}
<div id="disqus_thread"></div>
{% endblock %}
{% endif %}

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block footer_scripts %}
{% include "cms/includes/disqus_setup.html" %}
<script id="dsq-count-scr" src="//lawm.disqus.com/count.js" async></script>
{% endblock %}
{% endif %}
{% endblock %}
