{% extends "cms/rich_text_page.html" %}
{% load cms_tags wagtailcore_tags wagtailimages_tags %}

{% block bodyclass %} class="record"{% endblock %}


{% block dictionary %}
{% comment %}
This section should be populated with the fields filled in Wagtail when
creating a single record page
{% endcomment %}

<div class="row">
    
    <div class="content preview">
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Lemma</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{{ self.lemma }}</p>
          </div>
        </div>

        {% if self.variants %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Variants</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{{ self.variants|safe }}</p>
          </div>
        </div>
        {% endif %}

        {% if self.pos.all %}
            <div class="row section">
                <div class="small-6 medium-4 columns">
                    <p><strong>{{self.language|safe}} POS</strong></p>
                </div>
                <div class="small-6 medium-8 columns">
                    {% for p in self.pos.all %}
                    {{ p|safe }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    
        {% if self.morph_related_words %}
            <div class="row section">
                <div class="small-6 medium-4 columns">
                    <p><strong>{{self.language|safe}} Morphologically related words</strong></p>
                </div>
                <div class="small-6 medium-8 columns">
                    {{ self.morph_related_words|safe }}
                </div>
            </div>
        {% endif %}

      {% if self.ranking_freq %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Ranking/frequency in {{self.language|safe}}</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {{ self.ranking_freq }}
          </div>
        </div>
        {% endif %}

        {% if self.first_attest %}     
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} First attestation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{% if self.first_attest_year|safe %}<a href="#"><i class="fa fa-info-circle"></i>{{ self.first_attest_year|safe }}</a>{% endif %} {{ self.first_attest|safe }}</p>
          </div>
        </div>
        {% endif %}

        {% if self.hist_freq or self.hist_freq_image %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Historical frequency</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {% if self.hist_freq_image %}
            {% image self.hist_freq_image max-800x600 as tmp_image %}
              <img src="{{ tmp_image.url }}" alt="{{ tmp_image.alt }}">
            {% else %}
              {{ self.hist_freq|safe}}
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if self.semantic_history %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Semantic history</strong></p>
          </div>
          <div class="small-6 medium-8 columns">   
              {{ self.semantic_history|safe }}
            </div>
        </div>
        {% endif %}

        {% if self.collocational_history %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Collocational history</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
              {{ self.collocational_history|safe}}
          </div>
        </div>
        {% endif %}

        {% if self.diatopic_variation %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Diatopic Variation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {{ self.diatopic_variation|safe }}
          </div>
        </div>
        {% endif %}

        {% if self.diaphasic_variation %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language|safe}} Diaphasic Variation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {{ self.diaphasic_variation|safe }}
          </div>
        </div>
        {% endif %}
      </div>
      

     {% if self.specific.cultural_transmission %}
      <h2>Cultural transmission</h2>
      {{ self.specific.cultural_transmission|safe }}
    {% endif %}
    
    </div>

</div>

{% endblock %}


