{% extends "cms/rich_text_page.html" %}
{% load cms_tags wagtailcore_tags %}

{% block bodyclass %} class="record"{% endblock %}


{% block dictionary %}
{% comment %}
This section should be populated with the fields filled in Wagtail when
creating a single record page
{% endcomment %}

<div class="row">
  <div class="small-12 medium-8 large-9 columns">

    {% if self.specific.cultural_transmission %}
        <h2><a href="#"><i class="fa fa-link"></i> Cultural transmission</a></h2>
        {% include "cms/includes/streamfield.html" with blocks=self.specific.cultural_transmission %}
    {% endif %}
    
    {% for page in self.get_children.live %}
      <h2 class="toggler close"><a id="page-{{page.id}}"><i class="fa fa-link"></i> {{ page.specific.period}} {{page.specific.language}}</a></h2>


      <div class="content hide">
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Lemma</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{{ page.title }}</p>
          </div>
        </div>

        {% if page.specific.variants %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Variants</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{{ page.specific.variants }}</p>
          </div>
        </div>
        {% endif %}

         {% with related_words=page|related_words %}
            {% if related_words.count %}
            <div class="row section">
                <div class="small-6 medium-4 columns">
                    <p><strong>Morphologically related words</strong></p>
                </div>
                <div class="small-6 medium-8 columns">
                    {% for related_word in page|related_words %}
                    {{ related_word.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith%}

        {# TODO #}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Ranking/frequency</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <ul class="no-bullet">
              <li><a href="#" class="biblio">Davies 2006</a>: 177 / 8,521</li>
              <li><a href="#" class="biblio">Davies 2017</a>: 150 / 1,004,689</li>
              <li><a href="#" class="biblio">Juilland &amp; Chang-Rodr&iacute;guez 1964</a>: 284 / 153</li>
              <li><a href="#" class="biblio">Esqueva &amp; Cantarero 1981</a>: 202 / 65</li>
            </ul>
          </div>
        </div>

        {# TODO #}        
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>First attestation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p><a href="#exexistir001"><i class="fa fa-info-circle"></i></a> Pues, concluye aquel sabio que todas las cosas por trabajo e exerçiçio del mouimiento existen, e por consiguiente la natura humana cresze en su vigor corporal e spiritual, seyendo exerçitado en tan noble deporte.</p>
          </div>
        </div>

        {% if page.specific.hist_freq_data %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Historical frequency</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <div class="hist_freq_chart" data-x-label="{% if page.specific.hist_freq_x_label %}{{page.specific.hist_freq_x_label}}{% else %}time{% endif %}" data-y-label="{% if page.specific.hist_freq_y_label %}{{page.specific.hist_freq_y_label}}{% else %}time{% endif %}" data-chart-data="{{ page.specific.hist_freq_data }}"></div>
          </div>
        </div>
        {% endif %}

        {% if page.specific.semantic_history %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Semantic history</strong></p>
          </div>
          <div class="small-6 medium-8 columns">    
            {% include "cms/includes/streamfield.html" with blocks=page.specific.semantic_history %}
          </div>
        </div>
        {% endif %}

        {% if page.specific.collocational_history %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Collocational history</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
              {% include "cms/includes/streamfield.html" with blocks=page.specific.collocational_history %}
          </div>
        </div>
        {% endif %}


      </div>
      
    {% endfor %}




      {# Static content. To be replaced with dynamic content. #}

    <div class="callout warning">
      <p><strong>NOTE:</strong> only fields with content should display, empty ones should be removed/hidden.</p>
      <p><strong>E.g.</strong> the <em>variants</em> field in Castillian wouldn't be there, the Portuguese language section wouldn't appear and for the other languages listed, only the few fields with information should display.</p>
    </div>

    <h2 class="toggler close"><a id="castilian"><i class="fa fa-link"></i> Modern Castilian</a></h2>

    <div class="content hide">
      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Lemma</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p>Existir</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Variants</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Morphologically related words</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p><a href="#">existencia</a>, existente</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Ranking/frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <ul class="no-bullet">
            <li><a href="#" class="biblio">Davies 2006</a>: 177 / 8,521</li>
            <li><a href="#" class="biblio">Davies 2017</a>: 150 / 1,004,689</li>
            <li><a href="#" class="biblio">Juilland &amp; Chang-Rodr&iacute;guez 1964</a>: 284 / 153</li>
            <li><a href="#" class="biblio">Esqueva &amp; Cantarero 1981</a>: 202 / 65</li>
          </ul>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>First attestation</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p><a href="#exexistir001"><i class="fa fa-info-circle"></i></a> Pues, concluye aquel sabio que todas las cosas por trabajo e exerçiçio del mouimiento existen, e por consiguiente la natura humana cresze en su vigor corporal e spiritual, seyendo exerçitado en tan noble deporte.</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Historical frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <img src="/static/media/images/Screenshot_2018-12-11_at_16.42.18.original.png" alt="Historical frequency">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Semantic history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p>As with existencia the rise in frequency of existir seems not to be concerned so much with a widening of meaning or with participation in new syntagmatic environments as with what seems to be an increasing disposition towards its use, or what is sometimes called ‘shift of markedness’ <a href="#" class="biblio">(Trask 1996: 139-143)</a>.  In the 19th century we find it used in three fundamental ways: (a) what might perhaps be regarded as its literal or original meaning of ‘to exist’, stressing the reality of something (<a href="#exexistir002">example</a>), and (b) another ‘full’ lexical meaning as the equivalent of ‘to be alive, living’ (<a href="#exexistir003">example</a>) and (c) what appears to be a semi-grammaticalised existential notion (<a href="#exexistir004">example</a>):
          <a id="exexistir002">un impedimento secreto; una dispensación condicional de un impedimento que acaso no existe</a> (CORDE: Francisco Navarro Villoslada, Doña Urraca de Castilla, 1849) ‘a secret impediment, a conditional dispensation of an impediment which perhaps does not exist’ <a id="exexistir003">¿Y mi hijo? ¡Oh! Calla; si ya no existe, no me lo digas ahora.</a> (CORDE: Francisco Navarro Villoslada, Doña Urraca de Castilla, 1849)<br>
          ‘And my son? Oh! Say nothing, if he is no longer alive, do not tell me now.’<br>
          <a id="exexistir004">esa misteriosa relación que entre Ramiro y Bermudo existe</a> (CORDE: Francisco Navarro Villoslada, Doña Urraca de Castilla, 1849)<br>
          ‘That mysterious relationship [which exists] between Ramiro and Bermudo’<br>
          This existential usage deserves further comment.  It can be seen in (<a href="#exexistir005">example</a>) that Spanish uses a relative clause involving existir where in other languages no such construction needs to be used.  In present-day Spanish, there is a resistance to qualifying a noun with a locative expression, and a relative clause if often used instead: thus to Eng. the man on the roof corresponds Sp. el hombre que está en el tejado.  Existir is especially favoured to use to render the existential idea in such an environment:<br>
          <a id="exexistir005">la desconfianza que existe fuera de España hacia la tan promovida “salud del sistema bancario español”</a> (CDE: http://decrecimientocordoba.blogspot.co.uk/2013/08/en-ocho-meses-hemos-consumido-lo-que-la.html accessed 9 January 2017)<br>
          <a id="exexistir006">Romário de Souza Farías ha asegurado que existe en Brasil una campaña para difamarle</a> (CREA: La Vanguardia, 30.8.1995)</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Collocational history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>
    </div>

    <h2 class="toggler close"><a id="portuguese"><i class="fa fa-link"></i> Modern Portuguese</a></h2>

    <div class="content hide">
      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Lemma</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Variants</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Morphologically related words</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Ranking/frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>First attestation</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Historical frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Semantic history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Collocational history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>
    </div>

    <h2 class="toggler close"><a id="french"><i class="fa fa-link"></i> Modern French</a></h2>

    <div class="content hide">
      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Lemma</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p>exister</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Variants</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Morphologically related words</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p>existence, existant</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Ranking/frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>First attestation</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Historical frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Semantic history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Collocational history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>
    </div>

    <h2 class="toggler close"><a id="italian"><i class="fa fa-link"></i> Modern Italian</a></h2>

    <div class="content hide">
      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Lemma</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p>esistere</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Variants</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Morphologically related words</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Ranking/frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>First attestation</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Historical frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Semantic history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Collocational history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>
    </div>

    <h2 class="toggler close"><a id="romanian"><i class="fa fa-link"></i> Modern Romanian</a></h2>

    <div class="content hide">
      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Lemma</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Variants</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Morphologically related words</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Ranking/frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>First attestation</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Historical frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Semantic history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Collocational history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>
    </div>

    <h2 class="toggler close"><a id="english"><i class="fa fa-link"></i> Modern English</a></h2>

    <div class="content hide">
      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Lemma</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p>exist</p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Variants</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Morphologically related words</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Ranking/frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>First attestation</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
          <p></p>
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Historical frequency</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Semantic history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>

      <div class="row section">
        <div class="small-6 medium-4 columns">
          <p><strong>Collocational history</strong></p>
        </div>
        <div class="small-6 medium-8 columns">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h3><a id="references">References</a></h3>
        <ul>
          <li id="exexistir001"><i class="fa fa-info-circle"></i> (CORDE: Rodrigo Sánchez de Arévalo, Vergel de los príncipes, 1454-1457)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="small-12 medium-4 large-3">
    <h3>Languages</h3>
    <ul class="no-bullet">
        {% for page in self.get_children.live %}
            <li><a href="#page-{{page.id}}" class="button label-like expanded">{{ page.specific.period}} {{ page.specific.language}}</a></li>
        {% endfor %}
    </ul>
    <h3><a href="#references">References</a></h3>
  </div>
</div>

{% endblock %}


