{% extends "cms/rich_text_page.html" %}
{% load cms_tags wagtailcore_tags wagtailimages_tags %}

{% block bodyclass %} class="record"{% endblock %}


{% block dictionary %}
{% comment %}
This section should be populated with the fields filled in Wagtail when
creating a single record page
{% endcomment %}

<div class="row">
    
    <div class="content preview">
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Lemma</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{{ self.lemma }}</p>
          </div>
        </div>

        {% if self.variants %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Variants</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{{ self.variants }}</p>
          </div>
        </div>
        {% endif %}

        {% if self.pos.all %}
            <div class="row section">
                <div class="small-6 medium-4 columns">
                    <p><strong>{{self.language}} POS</strong></p>
                </div>
                <div class="small-6 medium-8 columns">
                    {% for p in self.pos.all %}
                    {{ p }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    
        {% if self.morph_related_words %}
            <div class="row section">
                <div class="small-6 medium-4 columns">
                    <p><strong>{{self.language}} Morphologically related words</strong></p>
                </div>
                <div class="small-6 medium-8 columns">
                    {{ self.morph_related_words }}
                </div>
            </div>
        {% endif %}

      {% if self.ranking_freq %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>Ranking/frequency in {{self.language}}</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {{ self.ranking_freq }}
          </div>
        </div>
        {% endif %}

        {% if self.first_attest %}     
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} First attestation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            <p>{% if self.first_attest_year %}<a href="#"><i class="fa fa-info-circle"></i>{{ self.first_attest_year }}</a>{% endif %} {{ self.first_attest }}</p>
          </div>
        </div>
        {% endif %}

        {% if self.hist_freq or self.hist_freq_image %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Historical frequency</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {% if self.hist_freq_image %}
            {% image self.hist_freq_image max-800x600 as tmp_image %}
              <img src="{{ tmp_image.url }}" alt="{{ tmp_image.alt }}">
            {% else %}
              {{ self.hist_freq}}
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if self.semantic_history %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Semantic history</strong></p>
          </div>
          <div class="small-6 medium-8 columns">    
            {% include "cms/includes/streamfield.html" with blocks=self.semantic_history %}
          </div>
        </div>
        {% endif %}

        {% if self.collocational_history %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Collocational history</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
              {% include "cms/includes/streamfield.html" with blocks=self.collocational_history %}
          </div>
        </div>
        {% endif %}

        {% if self.diatopic_variation %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Diatopic Variation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {{ self.diatopic_variation }}
          </div>
        </div>
        {% endif %}

        {% if self.diaphasic_variation %}
        <div class="row section">
          <div class="small-6 medium-4 columns">
            <p><strong>{{self.language}} Diaphasic Variation</strong></p>
          </div>
          <div class="small-6 medium-8 columns">
            {{ self.diaphasic_variation }}
          </div>
        </div>
        {% endif %}
      </div>
      

     {% if self.specific.cultural_transmission %}
      <h2>Cultural transmission</h2>
      {% include "cms/includes/streamfield.html" with blocks=self.specific.cultural_transmission %}
    {% endif %}
    
    </div>

</div>

{% endblock %}


