{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags %}

{% comment %}
{% block title %}
<div class="row">
	{% if self.get_parent.content_type.name == "index page" %}
    <div class="large-3 columns">
    </div>
    <div class="large-9 columns">
    {% else %}
    <div class="large-12 columns">
    {% endif %}
        {% block breadcrumbs %}
        {% get_site_root as site_root %}
        {% breadcrumbs root=site_root current_page=self %}
        {% endblock %}
        <header class="section-header">
          <h1>{{ self.title }}</h1>
        </header>
    </div>
</div>
{% endblock %}
{% endcomment %}

{% block title %}{% endblock %}

{% block main %}
<div class="row" data-equalizer="sidebar">
	{% if self.get_parent.content_type.name == "index page" %}
    <div class="large-3 columns subnav" data-equalizer-watch="sidebar">
        {% block index_page_children %}
        {% include "cms/includes/index_page_children.html" with pages=self %}
        {% endblock %}
    </div>
    <div class="large-9 columns" data-equalizer-watch="sidebar">
    {% else %}
    <div class="large-12 columns">
    {% endif %}
        {% comment %}
        {# Enable / Disable breadcrums navigation #}
        {% block breadcrumbs %}
        {% get_site_root as site_root %}
        {% breadcrumbs root=site_root current_page=self %}
        {% endblock %}
        {% endcomment %}
        <header class="section-header">
          <h1>{{ self.title }}</h1>
        </header>

        {{ block.super }}
    </div>
</div>
{% endblock %}
