{% extends "cms/base.html" %}
{% load cms_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
{% endblock %}

{% block main %}
<div class="row" data-equalizer="sidebar" data-equalize-on="medium">
    <div class="small-12 large-3 columns subnav" data-equalizer-watch="sidebar">
        {% block index_page_children %}
        {% include "cms/includes/index_page_children.html" with pages=self %}
        {% endblock %}

    </div>

    <div class="small-12 large-9 columns" data-equalizer-watch="sidebar">
        {% comment %}
        {# Enable / Disable breadcrums navigation #}
        {% block breadcrumbs %}
        {% get_site_root as site_root %}
        {% breadcrumbs root=site_root current_page=self %}
        {% endblock %}
        {% endcomment %}
        <header class="section-header">
          <h1>{{ self.title }}</h1>
        </header>


        {% if request.GET.content == 'blog' %}
            <header class="section-header">
              <h3>Blog Posts</h3>
            </header>

            {% if page.blogs_contextual_information %}
            <p>{{ page.blogs_contextual_information|safe }}</p>
            {% endif %}

            {% if blog_posts %}
            <div class="row small-up-1 medium-up-2" data-equalizer="blogpostheight" data-equalize-by-row="true" data-equalize-on="medium">
                {% for page in blog_posts %}
                <div class="column column-block">
                    <div class="card blog" data-equalizer-watch="blogpostheight">
                        <div class="card-section">
                            <h3 class="title"><a href="{% pageurl page %}">{{ page.title }}</a></h3>
                            <p class="meta info byline blog">
                                Posted by <strong>{{ page.owner }}</strong><br>
                                <time datetime="{{ page.specific.date }}">
                                {{ page.specific.date|date:'j b Y' }}</time>

                                {% are_comments_allowed as allow_comments %}
                                {% if allow_comments %}
                                 | <span class="disqus-comment-count" data-disqus-identifier="{{ page.id }}">Comments</span>
                                {% endif %}
                            </p>
                            <p>{{ page.search_description }}</p>
                        </div>
                    </div>
                    {% include "cms/includes/tags.html" with obj=page %}
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>There are no blog posts.</p>
        {% endif %}

        {% elif request.GET.content == 'events' %}

        <header class="section-header">
          <h3>Events</h3>
        </header>

        {% if page.events_contextual_information %}
        <p>{{ page.events_contextual_information|safe }}</p>
        {% endif %}

        {% if events %}
            {% include "cms/includes/event_index_page_children.html" with events=events %}
        {% endif %}

        {% if past_events %}
            <header class="section-header">
              <h3>Past</h3>
            </header>

            {% include "cms/includes/event_index_page_children.html" with events=past_events %}
        {% endif %}

        {% elif request.GET.content == 'news' %}

        <header class="section-header">
          <h3>News</h3>
        </header>

        {% if page.news_contextual_information %}
        <p>{{ page.news_contextual_information|safe }}</p>
        {% endif %}

        {% if news_posts %}

        <div class="row news-block small-up-1 medium-up-2" data-equalizer="newsheight" data-equalize-by-row="true" data-equalize-on="medium">
        {% for page in news_posts %}
        <div class="column column-block">
            <div class="card news" data-equalizer-watch="newsheight">
                {% if page.specific.feed_image %}
                {% image page.specific.feed_image max-600x300 as tmp_image %}
                <div class="image-container">
                    <a href="{% pageurl page %}" aria-label="{% pageurl page %}">
                        <img src="{{ tmp_image.url }}" alt="{{ tmp_image.alt }}">
                    </a>
                </div>
                {% endif %}

                <div class="card-section">
                    <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
                    <p class="byline newspost">
                        <time datetime="{{ page.specific.date }}">
                        {{ page.specific.date|date:'j b Y' }}</time>

                        {% are_comments_allowed as allow_comments %}
                        {% if allow_comments %}
                         | <span class="disqus-comment-count" data-disqus-identifier="{{ page.id }}">Comments</span>
                        {% endif %}
                    </p>
                    <p>{{ page.search_description }}</p>
                </div>
            </div>
            {% if self.slug != 'home' %}
            {% include "cms/includes/tags.html" with obj=page %}
            {% endif %}
        </div>
        {% endfor %}
        </div>

        {% else %}
        <p>There are no news items published at the moment.</p>
        {% endif %}

        {% else %}
        {{ block.super }}
        {% endif %}
    </div>
</div>
{% endblock %}
